.chart-card-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--surface-color);
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

.drag-handle {
  cursor: move;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  /* make it slightly visible for dragging? */
  background-color: rgba(255, 255, 255, 0.1);
}
.drag-handle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
