.chart-container-full {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.chart-flex-1 {
  flex: 1;
  min-height: 0;
}

.chart-recommendation {
  font-size: 0.75rem;
  color: #16a34a; /* green-600 */
  margin-top: 0.5rem;
}

.chart-insight {
  font-size: 0.75rem;
  color: #2563eb; /* blue-600 */
  margin-bottom: 0.25rem;
}

.chart-title {
  font-weight: bold;
  color: #374151; /* gray-700 */
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.chart-description {
  font-size: 0.75rem;
  color: #9ca3af; /* gray-400 */
  margin-bottom: 0.5rem;
}

.chart-center-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.chart-container-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.chart-detail-container {
  margin-bottom: 0.5rem;
}

.chart-pb-10 {
  padding-bottom: 2.5rem;
}
.chart-p-4 {
  padding: 1rem;
}
